$header-color: #3D4B52;
$table-color: #b1b1b1;

$primary-blue: #001219;
$secondary-blue: #005f73;
$tertiary-blue: #0a9396;
$light-blue: #94d2bd;
$light-yellow: #e9d8a6;
$yellow: #ee9b00;
$dark-yellow: #ca6702;
$light-red: #bb3e03;
$red: #ae2012;
$dark-red: #9b2226;
